.container {
    width: 200px;
    height: 400px;
    color:aquamarine;
    border: 4px;
    border-color: salmon !importance;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

label {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

table {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(84, 87, 116);
    border: 4px;
    border-color: gray;
}

input[type=text]{
    border-radius:10px;
}

.btn_submit {
    display: inline-block;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e06818;
    border: none;
    color: rgb(44, 40, 77);
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: 140px;
    height: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn_submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn_submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn_submit:hover span {
    padding-right: 25px;
  }
  
  .btn_submit:hover span:after {
    opacity: 1;
    right: 0;
  }

  #subnet {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;
  }

  #subnet select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#subnet select:focus {
    outline: none;
}